- content_for :title do
  %img{:src => "#{app_root}/assets/title.png", :alt => @title}

- content_for :head do
  :coffeescript
    @app_root = "#{app_root}"
    @omikuji_api = app_root + '/omikuji.json'
  %script{:type => 'text/javascript', :src => "#{app_root}/assets/main.js"}

%div
  %input{:id => 'start_btn', :type => 'button', :value => 'start'}
%div
  %h2 result
  %ul#results
